.about {
    padding: 300px 0;
    position: relative;
}
.about-header__desc {
    bottom: 0!important;
}
.skills {
    display: flex;
    flex-wrap: wrap;
}
.backend, .frontend,
.soft-skills, .other {
    height: 370px;
    padding: 35px;
    box-sizing: border-box;
}
.backend {
    width: 25%;
    background: #FAC606;
    border-radius: 0 10px 10px 0;
    margin-right: 2%;
    margin-bottom: 70px;
}
.frontend {
    width: 73%;
    background: #4DB4ED;
    border-radius: 10px 0 0 10px;
}
.soft-skills {
    width: 73%;
    background: #4DB4ED;
    border-radius: 0 10px 10px 0;
    margin-right: 2%;
}
.other {
    height: 550px;
    width: 25%;
    background: #F24C88;
    border-radius: 10px 0 0 10px;
}
.skills__title-left,
.skills__title-right {
    font-weight: 900;
    font-size: 50px;
    line-height: 59px;
    color: #FFFFFF;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.skills__title-left {
    text-align: left;
}
.skills__title-right {
    text-align: right;
}
.skills__list {
    display: flex;
    flex-wrap: wrap;
}
.skills__item {
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.skills__list .skills__item {
    width: 50%;
}
@media (max-width: 768px) {
    .about {
        padding: 300px 0 100px 0;
    }
    .backend, .frontend,
    .soft-skills, .other {
        height: auto;
        padding: 30px;
        margin-bottom: 25px;
    }
    .about-list {
        margin: 0;
    }
    .backend {
        width: 45%;
        margin-right: auto;
    }
    .frontend {
        width: 80%;
        margin-left: auto;
    }
    .soft-skills {
        width: 80%;
        margin-right: auto;
    }
    .other {
        height: 250px;
        width: 45%;
        margin-left: auto;
    }
    .skills__title-left,
    .skills__title-right {
        font-size: 22px;
        line-height: 25px;
        margin-bottom: 15px;
    }
    .skills__item {
        font-size: 21px;
        line-height: 24px;
        margin-bottom: 10px;
    }
}
@media (max-width: 414px) {
    .about {
        padding: 300px 0 50px 0;
    }
    .backend, .frontend,
    .soft-skills, .other {
        padding: 15px;
    }
    .other {
        height: 210px;
    }
    .skills__title-left,
    .skills__title-right {
        font-size: 19px;
        line-height: 22px;
        margin-bottom: 10px;
    }
    .skills__item {
        font-size: 15px;
        line-height: 18px;
        margin-bottom: 5px;
    }
    .skills__list .skills__item {
        width: 75%;
    }
}
@media (max-width: 320px) {
    .backend, .frontend,
    .soft-skills, .other {
        padding: 10px;
    }
    .other {
        height: 210px;
        width: 55%;
    }
    .skills__title-left,
    .skills__title-right {
        font-size: 19px;
        line-height: 22px;
        margin-bottom: 10px;
    }
    .skills__item {
        font-size: 15px;
        line-height: 18px;
        margin-bottom: 5px;
    }
    .skills__list .skills__item {
        width: 90%;
    }
}