.loader {
    display: flex;
    justify-content: center;
}
h1 {
    padding: 90px 0 0 0;
    margin: 0;
}
.my-works {
    background: #e0e0e0;
    width: 100%;
    padding: 70px 0 0 0;
}
.my-works-title {
    padding-left: 20px;
    margin: 0;
    font-size: 30px;
}
.my-works-container {
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
