.about-me {

}
.about-me-container {
    background-color: white;
    position: relative;
}
.about-me-desc {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about-me-desc p {
    color: #403535;
    font-weight: 500;
}
.about-me-desc span {
    display: block;
    width: 50px;
    height: 1px;
    border: 1px solid #bdbdbd;
    margin: 20px auto;
}
.about-me-img {
    padding-top: 30px;
}
.about-me-img img{
    width: 100%;
}
.about-me__foto-block {
    margin-top: 20px;
}
.about-me__foto {
    border-radius: 2px;
    padding: 3px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.14);
}
.about-me__foto img{
    width: 100%;
    border-radius: 2px;
}