.my-skills {
    padding-top: 50px;
}
.my-skills-title {
    color: black;
    text-align: right;
    margin: 0 50px 30px 0;
    border-bottom: 1px solid black;
    font-size: 30px;
}
.my-skill-block {
    display: flex;
    align-items: center;
    padding: 0 50px;
    margin-bottom: 20px;

}
.my-skill-block-desc {
    width: 90%;
    margin: 0 auto;
    color: black;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.5);
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.my-skill-back-end {
    margin: 20px auto;
}
.skills-title-block {
    height: 50px;
    border-radius: 5px;
}

.skills-title {
    text-align: center;
    margin: 6px 0 0 0;
    color: black;
    /*text-shadow: 1px 1px 1px black;*/
}
.skills-title-border {
    width: 20%;
    height: 2px;
    margin: 5px auto 5px auto;
    background-color: #e90c59;
}
.skills-list {
    list-style-type: none;
    text-align: center;
    padding: 0;
    display: flex;
    justify-content: center;
}
.skills-list-item {
    margin: 5px 20px;
}
.skills-list-item img {
     width: 50px;
     height: 50px;
     margin-bottom: 5px;
}
.skills-list-item p {
    margin: 0;
}
@media (max-width: 414px) {
    .skills-title-border {
        margin: 5px auto 5px auto;
    }
    .skills-list {
        flex-direction: column;
    }
}