.main__title {
    max-width: 460px;
    margin: 220px 50px 30px auto;
    text-align: right;
    padding: 0;
}
.main__prof-title {
    font-weight: 900;
    font-size: 45px;
    line-height: 53px;
    color: var(--text-color);
    text-align: right;
    margin: 0 50px 220px 0;
}
.main-works {
    padding: 0 70px;
    display: flex;
    flex-wrap: wrap;
}