.contacts {
    padding: 300px 0;
    position: relative;
}
.contacts-wrapper {
    display: flex;
    justify-content: space-between;
}
.contacts-phone {
    width: 63%;
    height: 370px;
    border-radius: 0 10px 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 70px;
}
.contacts-phone p {
    font-weight: 900;
    font-size: 50px;
    line-height: 59px;
    color: #FFFFFF;
    margin: 20px 0;
}
.contacts-phone span {
    font-weight: 300;
    font-size: 40px;
    line-height: 47px;
}
.contacts-socials {
    width: 35%;
    height: 370px;
    border-radius: 10px 0 0 10px;
    display: flex;
    flex-direction: column;
    padding: 26px 70px;
}
.contacts-socials a {
    margin: 10px 0;
    color: #ffffff;
    font-weight: 900;
    font-size: 50px;
    line-height: 59px;
}