.works {
    padding: 300px 0;
    position: relative;
    animation: opacity .5s;
}
.works-wrapper {
    display: flex;
    flex-wrap: wrap;
}
@media (max-width: 768px) {
    .works-wrapper {
        padding: 0 15px;
    }
}