.menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li {
    margin: 0 10px;
}
.socialLinks-item {
    color: #424242;
    font-size: 20px;
}
.socialLinks-item:hover {
    color: white;
    transition: .3s;
}