ul.menu {
    display: flex;
    align-items: center;
    margin: 0;
}
ul.menu li {
    display: inline-block;
    margin: 10px;
}
ul.menu li a i.fa {
    display: inline-block;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 40px;
    color: #424242;
    position: relative;
    transition: all ease 0.2s;
}
ul.menu li a i.fa::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 100%;
    width: 100%;
    z-index: -1;
    border-radius: 40px;
    background-color: #BDBDBD;
}
ul.menu li a i.fa:hover {
    color: #fff;
    font-size: 18px;
}
ul.menu li a i.fa:hover::after {
    animation: animate ease 0.6s forwards;
}
ul.menu li a i.fa-facebook:hover::after {
    background-color: #3b5998;
}
ul.menu li a i.fa-instagram:hover::after {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
ul.menu li a i.fa-linkedin:hover::after {
    background-color: #0e76a8;
}
ul.menu li a i.fa-github:hover::after {
    background-color: #333;
}

@keyframes animate {
    0%,20% {
        transform: scale(1);
        border-radius: 40px;
        background-color: #9E9E9E;
    }
    30% {
        transform: scale(1.2);
    }
    40% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1);
        border-radius: 10px;
    }
    60%,100% {
        transform: scale(1);
        border-radius: 5px;
    }
}
