.my-skills-block {
    padding: 20px 30px!important;
    text-align: center;
    min-height: 320px;
}
.my-skills-block__span {
    display: block;
    margin: 0 auto 10px auto;
    border-radius: 10px;
    height: 6px;
    width: 40px;
    background: #f90a48;
    box-shadow: 0 3px 10px rgba(249, 10, 72, 0.4);
}
.my-skills-block__title {
    color: #403535;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.my-skills-block__desc {
    font-size: 12px;
    line-height: 22px;
    color: #b1b0b0;
    padding: 0 20px;
}
.my-skills-list {
    list-style-type: none;
    color: #736d6d;
    margin: 0;
    padding: 0;
}
.my-skills-list__item {
    color: #403535;
    font-weight: 500;
    padding: 12px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.focus {
    min-height: 360px!important;
}
@media (max-width: 414px) {
    .my-skills-wrapper {
        margin: 0 auto 10px auto;
        width: 80%;
    }
    .my-skills-list__item {
        width: 60%;
        margin: 0 auto;
    }
}
@media (max-width: 320px) {
    .my-skills-wrapper {
        width: 100%;
    }
    .my-skills-list__item {
        width: 80%;
    }
}