.header-card {
    display: flex;
    align-items: center;

    margin: 10px 0 20px 0;
    height: 60px;
    position: relative;
    padding: 10px 20px;
}
.header-logo {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 24px;
    margin: 0 100px 0 0;
}
.header-logo span {
    font-weight: 700;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
}
.header-links {
    margin-left: auto;
    background: #ffffff;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);;
}
.header-links-logo,
.header-links-item {
    color: #212121;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    margin: 0 10px;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
}

.header-links-item:hover {
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
    transition: .3s;
}
.header-links-logo {
    text-decoration: none!important;
    color: black!important;
}
@media (max-width: 414px) {
    .header-logo {
        font-size: 16px;
        margin: 0 20px 0 0;
    }
    .header-links {
        display: flex;
    }
    .header-links-item {
        font-size: 14px;
        margin: 0 5px;
    }
}
@media (max-width: 360px) {
    .header-logo {
        font-size: 16px;
        margin: 0;
    }
    .header-links {
        display: flex;
    }
    .header-links-item {
        font-size: 16px;
    }
}

