.main-header {
    position: fixed;
    width: 100%;
    z-index: 10000;
    height: 70px;
    background-color: #e0e0e0;
    padding: 0 10px;
}
.main-header-card {
    display: flex;
    align-items: center;

    background-color: white;
    /*border-radius: 5px;*/
    /*box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);*/
    margin-top: 10px;
    height: 60px;

}







.main-header-logo {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 24px;
    margin: 0 100px 0 0;
}
.main-header-logo span {
    font-weight: 700;
    text-shadow: 0 3px 8px rgba(0, 0, 0, .3);
}
.main-header-links-item {
    color: black;
    text-decoration: none;
    font-size: 18px;
    margin: 0 10px;
}
.main-header-links-item:hover {
    text-decoration: none;
}

@media (max-width: 414px) {
    .main-header-logo {
        font-size: 16px;
        margin: 0 20px 0 0;
    }
    .main-header-links {
        display: flex;
    }
    .main-header-links-item {
        font-size: 14px;
        margin: 0 5px;
    }
}
@media (max-width: 360px) {
    .main-header-logo {
        font-size: 16px;
        margin: 0;
    }
    .main-header-links {
        display: flex;
    }
    .main-header-links-item {
        font-size: 16px;
    }
}

