.main-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    background: #e0e0e0;
    box-shadow: 0 3px 8px #e0e0e0;
    border-bottom: black;
    padding: 0 30px;
    z-index: 1000;
}
.main-header-logo {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 24px;
    margin: 0 100px 0 0;
}
.main-header-logo span {
    font-weight: 700;
    text-shadow: 0 3px 8px rgba(0, 0, 0, .3);
}
.main-header-links-item {
    color: black;
    text-decoration: none;
    font-size: 18px;
    margin: 0 10px;
}
.main-header-links-item:hover {
    text-decoration: none;
}
.main-header-socials {
    margin-left: auto;
}

@media (max-width: 414px) {
    .main-header {
        justify-content: space-between;
    }
    .main-header-logo {
        font-size: 16px;
        margin: 0 20px 0 0;
    }
    .main-header-links {
        display: flex;
    }
    .main-header-links-item {
        font-size: 14px;
        margin: 0 5px;
    }
    .main-header-socials {
        display: none;
    }
}
@media (max-width: 360px) {
    .main-header {
        flex-direction: column;
        justify-content: center;
    }
    .main-header-logo {
        font-size: 16px;
        margin: 0;
    }
    .main-header-links {
        display: flex;
    }
    .main-header-links-item {
        font-size: 16px;
    }
}

