.header {
    position: absolute;
    z-index: 1;
    width: 100%;
}
.header__btn {
    display: none;
    position: absolute;
    z-index: 3;
}
.header-list {
    display: flex;
    justify-content: flex-end;
    padding: 50px;
}
.header-list__item {
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    color: #2D2D2D;
    margin-left: 70px;
    text-decoration: none;
}
@media (max-width: 768px) {
    .header__btn {
        display: block;
    }
    .header-list {
        display: flex;
        justify-content: flex-end;
        padding: 0;
    }
}