.about {
    /*padding: 0 0 300px 0;*/
}
.page__title {
    font-weight: 900;
    font-size: 86px;
    line-height: 101px;
    text-align: right;
    color: #2D2D2D;
    margin-bottom: 40px;
    padding: 0 50px;
}
.hello-block,
.skills-block {
    position: relative;
}
.hello__title,
.skills__title {
    font-weight: 900;
    font-size: 350px;
    line-height: 410px;
    color: #F3F3F3;
    text-transform: uppercase;
}
.hello__title {
    margin-left: -70px;
}
.hello__desc,
.skills__desc {
    position: absolute;
    font-weight: 900;
    font-size: 45px;
    line-height: 53px;
    color: #2D2D2D;
    left: 40px;
    max-width: 900px;
    margin-bottom: 50px;
}
.hello__desc {
    top: 220px;
}
.about__desc-block {
    width: 100%;
    display: flex;
    align-items: flex-end;
    margin-bottom: 110px;
}
.about__desc-block img {
    width: 100%;
    max-width: 750px;
    max-height: 420px;
}
.about__desc-block article {
    padding: 0 85px 0 40px;
}
.about__desc-first,
.about__desc-second {
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    color: #2D2D2D;
}
.about__desc-first {
    margin-bottom: 90px;
}
.about__desc-second {
    margin: 0;
}
.skills__title {
    margin-left: -65px;
}
.skills__desc {
    top: 160px;
}
.skills {
    display: flex;
    flex-wrap: wrap;
}
.backend, .frontend,
.soft-skills, .other {
    height: 370px;
    padding: 35px;
}
.backend {
    width: 25%;
    background: #FAC606;
    border-radius: 0 10px 10px 0;
    margin-right: 2%;
    margin-bottom: 70px;
}
.frontend {
    width: 73%;
    background: #4DB4ED;
    border-radius: 10px 0 0 10px;
}
.soft-skills {
    width: 73%;
    background: #4DB4ED;
    border-radius: 0 10px 10px 0;
    margin-right: 2%;
}
.other {
    height: 550px;
    width: 25%;
    background: #F24C88;
    border-radius: 10px 0 0 10px;
}
.skills__title-left,
.skills__title-right {
    font-weight: 900;
    font-size: 50px;
    line-height: 59px;
    color: #FFFFFF;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.skills__title-left {
    text-align: left;
}
.skills__title-right {
    text-align: right;
}
.skills__list {
    display: flex;
    flex-wrap: wrap;
}
.skills__item {
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.skills__list .skills__item {
    width: 50%;
}