.menu {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li {
    margin: 0 6px;
}
.socialLinks-item {
    background: transparent;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.git {
    color: #000000;
    border: 1px solid #000000;
}
.ln {
    color: #007bb6;
    border: 1px solid #007bb6;
}
.fb {
    color: #3b5998;
    border: 1px solid #3b5998;
}
.ins {
    color: #ea4c89;
    border: 1px solid #ea4c89;
}
.socialLinks-item:hover {
    text-decoration: none;
    transition: .3s ease-in;
    color: white;
}
.git:hover {
    background-color: #000000;
}
.ln:hover {
    background-color: #007bb6;
}
.fb:hover {
    background-color: #3b5998;
}
.ins:hover {
    background-color: #ea4c89;
}