.my-works {
    width: 100%;
    margin: 50px 0;
}
.my-works-title {
    color: white;
    text-align: left;
    margin: 30px 0 30px 50px;
    font-size: 30px;
    border-bottom: 1px solid white;
}
.my-works-container {
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
}
.my-works-btn-block {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.all-works-btn {
    font-size: 16px;
    display: block;
    width: 120px;
    height: 20px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    text-align: center;
    text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
}
.all-works-btn:hover {
    text-shadow: none;
}
.my-works-btn-block span{
    display: block;
    width: 20px;
    height: 1px;
    background-color: white;
    box-shadow: 0px 0px 6px rgba(255,255,255,0.7);
}