:root {
  --text-color: #2D2D2D;
}
a {
  text-decoration: none;
}
p {
  margin: 0;
}
.container {
  overflow: hidden;
}
.logo {
  position: absolute;
  z-index: 2;
  top: -920px;
  left: -385px;
}
.logo__title {
  font-weight: 900;
  font-size: 86px;
  line-height: 101px;
  color: #FFFFFF;
  position: absolute;
  bottom: 65px;
  right: 284px;
  max-width: 465px;
  text-align: left;
  text-decoration: none;
}
.page__title {
  font-weight: 900;
  font-size: 86px;
  line-height: 101px;
  text-align: right;
  color: var(--text-color);
  margin-bottom: 40px;
  padding: 0 50px;
}
.page-header-wrapper {
  position: relative;
}
.page-header__title {
  font-weight: 900;
  font-size: 350px;
  line-height: 410px;
  color: #F3F3F3;
  text-transform: uppercase;
  margin: 0 0 0 -65px;
}
.page-header__desc {
  position: absolute;
  font-weight: 900;
  font-size: 45px;
  line-height: 53px;
  color: var(--text-color);
  left: 40px;
  max-width: 900px;
  bottom: 200px;
}
.yellow {
  background: #FAC606;
}
.blue {
  background: #4DB4ED;
}
.pink {
  background: #F24C88;
}
@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 768px) {
  .logo {
    left: -200px;
    top: -475px;
  }
  .logo img {
    width: 800px;
    height: 800px;
  }
  .logo__title {
    font-size: 60px;
    line-height: 70px;
    bottom: 115px;
    right: 120px;
    max-width: 470px;
  }
  .page__title {
    font-size: 50px;
    line-height: 58px;
    margin-bottom: 25px;
    padding: 0 15px;
  }
  .page-header__title {
    font-size: 150px;
    line-height: 170px;
    margin: 0 0 0 -25px;
  }
  .page-header__desc {
    font-size: 21px;
    line-height: 25px;
    left: 30px;
    max-width: 370px;
    bottom: 80px;
  }
}
@media (max-width: 414px) {
  .logo {
    left: -190px;
    top: -530px;
  }
  .logo img {
    width: 800px;
    height: 800px;
  }
  .logo__title {
    font-size: 60px;
    line-height: 70px;
    bottom: 50px;
    right: 260px;
    max-width: 285px;
    text-align: right;
  }
  .page__title {
    font-size: 45px;
    line-height: 53px;
  }
  .page-header__title {
    font-size: 93px;
    line-height: 110px;
    margin: 0 0 0 -15px;
  }
  .page-header__desc {
    font-size: 13px;
    line-height: 16px;
    left: 20px;
    max-width: 250px;
    bottom: 50px;
  }
}
@media (max-width: 320px) {
  .logo {
    left: -235px;
  }
}
