:root {
  --text-color: #2D2D2D;
}
.logo {
  position: absolute;
  z-index: 2;
  top: -920px;
  left: -385px;
}
.logo__title {
  font-weight: 900;
  font-size: 86px;
  line-height: 101px;
  color: #FFFFFF;
  position: absolute;
  bottom: 65px;
  right: 284px;
  max-width: 465px;
  text-align: left;
}
.page__title {
  font-weight: 900;
  font-size: 86px;
  line-height: 101px;
  text-align: right;
  color: var(--text-color);
  margin-bottom: 40px;
  padding: 0 50px;
}
.page-header-wrapper {
  position: relative;
}
.page-header__title {
  font-weight: 900;
  font-size: 350px;
  line-height: 410px;
  color: #F3F3F3;
  text-transform: uppercase;
  margin-left: -70px;
}
.page-header__desc {
  position: absolute;
  font-weight: 900;
  font-size: 45px;
  line-height: 53px;
  color: var(--text-color);
  left: 40px;
  max-width: 900px;
  margin-bottom: 50px;
  top: 205px;
}
.yellow {
  background: #FAC606;
}
.blue {
  background: #4DB4ED;
}
.pink {
  background: #F24C88;
}