:root {
  --text-color: #2D2D2D;
}
.page__title {
  font-weight: 900;
  font-size: 86px;
  line-height: 101px;
  text-align: right;
  color: var(--text-color);
  margin-bottom: 40px;
  padding: 0 50px;
}
.page-header-wrapper {
  position: relative;
}
<<<<<<< HEAD

.App-header {
  background-color: #282c34;
  min-height: 100vgit h;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
=======
.page-header__title {
  font-weight: 900;
  font-size: 350px;
  line-height: 410px;
  color: #F3F3F3;
  text-transform: uppercase;
  margin-left: -70px;
>>>>>>> alternative-style
}
.page-header__desc {
  position: absolute;
  font-weight: 900;
  font-size: 45px;
  line-height: 53px;
  color: var(--text-color);
  left: 40px;
  max-width: 900px;
  margin-bottom: 50px;
  top: 205px;
}
.yellow {
  background: #FAC606;
}
<<<<<<< HEAD

.box-card {
  border-radius: 3px;
  background-color: #FAFAFA;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  padding: 20px;
  /*max-width: 980px!important;*/
}
.limiter {
  padding-top: 40px;
  width: 90%;
  display: block;
  border-bottom: 1px solid #eee;
  margin: 0 auto;
=======
.blue {
  background: #4DB4ED;
}
.pink {
  background: #F24C88;
>>>>>>> alternative-style
}